<div class="main_con" style="transform: translateY(46px);">
    <div class="banner_con">
        <img class="banner_img" src="~/Content/Images/content_img/banner_con_1.jpg" />
        <div class="banner_txt"><img src="~/Content/Images/content_img/banner_con_1txt.png" /></div>
    </div>
    <!--路径导航-->
    <div class="breadcrumb_con">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">新房装修</li>
            </ol>
        </div>
    </div>
    <!--新房套餐-->
    <div>
        <div class="container-fluid">
            <div class="xinfang_meau taocan1">
                <span class="tuijian_icon"><img src="~/Content/Images/content_img/taoc.png" /></span>
                <div class="xinfang_meau_tit">
                    <h1>218半包套餐</h1>
                    <p>省时省心的家装模式，符合现代人更高的个性化需求。</p>
                </div>
                <div class="xinfang_meau_list">
                    <ul>
                        <li class="hover">
                            <span></span>
                            <p>量房</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>设计</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包主材</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包辅材</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包人工</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>水电改造</p>
                        </li>
                    </ul>
                </div>
                <div class="xinfang_meau_p">
                    免费设计 | 免费量房 | 免费管理 | 微信施工监控 | 成品保护 | 材料搬运 | 水路改造 | 电路改造 | 水路打压 | 门洞修正 | 防水处理
                    | 闭水试验 | 地面防水保护 | 墙面拉毛 | 墙砖铺贴 | 地漏安装 | 地砖铺贴 | 地面找平 | 墙面局部找平 | 批刮腻子 | 墙面打磨 | 石膏线安装 | 乳胶漆涂刷 | 撤场清扫 |
                    等多项服务。
                </div>

                <a class="Booking_btn_dj tcyuyue_btn" href="">立即预约</a>

            </div>


            <div class="xinfang_meau taocan1">
                <span class="tuijian_icon"><img src="~/Content/Images/content_img/taoc_1.png" /></span>
                <div class="xinfang_meau_tit">
                    <h1>698半包套餐</h1>
                    <p>省时省心的家装模式，符合现代人更高的个性化需求。</p>
                </div>
                <div class="xinfang_meau_list">
                    <ul>
                        <li class="hover">
                            <span></span>
                            <p>量房</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>设计</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包主材</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包辅材</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>包人工</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>灯具</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>水电改造</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>马桶安装</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>花洒安装</p>
                        </li>
                        <li class="hover">
                            <span></span>
                            <p>卫浴五金</p>
                        </li>
                    </ul>
                </div>
                <div class="xinfang_meau_p">
                    免费设计 | 免费量房 | 免费管理 | 微信施工监控 | 成品保护 | 材料搬运 | 水路改造 | 电路改造 | 水路打压 | 门洞修正 | 防水处理
                    | 闭水试验 | 地面防水保护 | 墙面拉毛 | 墙砖铺贴 | 地漏安装 | 橱柜测量 | 地砖铺贴 | 地面找平 | 墙面局部找平 | 批刮腻子 | 墙面打磨 | 石膏线安装 | 乳胶漆涂刷 |
                    集成吊顶安装 | 浴霸安装 | 橱柜安装 | 水槽安装 | 木门安装 | 门套安装 | 木地板安装 | 踢脚线安装 | 浴室柜安装 | 马桶安装 | 花洒安装 | 卫浴五金安装 | 底板灯安装 |
                    镜前灯安装 | 安装插座 | 撤场清扫 | 等多项服务
                </div>

                <a class="Booking_btn_dj tcyuyue_btn" href="">立即预约</a>

            </div>

        </div>
    </div>

    <!--严绿保障-->
    <div class="xf_con_b">
        <div class="container-fluid">

            <div class="xf_con_b_txt">
                <img src="~/Content/Images/content_img/banner_bj_txt1.png" />
            </div>
            <div class="service_list">
                <ul>
                    <li>
                        <span></span>
                        <h3>环保材料</h3>
                        <p>甄选全球优质家装材料<br />享受欧式级的环保品质</p>
                    </li>
                    <li>
                        <span></span>
                        <h3>配套产品</h3>
                        <p>完美的家装设计离不开<br />风格相依的配套产品</p>
                    </li>
                    <li>
                        <span></span>
                        <h3>精湛工艺</h3>
                        <p>精湛的家装施工工艺是<br />家装品质的基础保障</p>
                    </li>
                    <li>
                        <span></span>
                        <h3>严苛验收</h3>
                        <p>良心品质源于对过程<br />细节的苛求</p>
                    </li>


                </ul>

            </div>
        </div>
    </div>

    <!--家装案例-->
    <div class="xf_anli">
        <div class="container-fluid">
            <h1>装修案例</h1>
            <p>精美案例真实呈现 发现新家装修灵感</p>


            <div class="xf_anli_left">
                <a class="xf_anli_left_img homeBrandBack" href="@Url.Action("Designer1Case2","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner01_Case2_2.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_left_txt shadow">
                    <a href="@Url.Action("Designer1Case2","DesignerCases")">振业泊墅 后奢装修效果图 五室四厅三卫一厨</a>
                </div>

            </div>

            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Designer1Case3","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner01_Case3_4.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Designer1Case3","DesignerCases")">国熙台 三室</a>
                </div>

            </div>

            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Designer2Case1","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner02_Case1_1.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Designer2Case1","DesignerCases")">恒大城 美式复古</a>
                </div>

            </div>
            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Case3","Cases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/Cases/Case_oushi-3/Case_oushi-3-3.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Case3","Cases")">绿地城 简约现代</a>
                </div>

            </div>
            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Designer2Case1","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner02_Case1_2.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Designer2Case1","DesignerCases")">美式复古</a>
                </div>

            </div>
            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Designer3Case1","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner03_Case1_4.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Designer3Case1","DesignerCases")">美式复古 三居室</a>
                </div>

            </div>
            <div class="xf_anli_1">
                <a class="xf_anli_1_img homeBrandBack" href="@Url.Action("Designer1Case1","DesignerCases")">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/DesignerCase/designner01_Case1_1.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="xf_anli_1_txt shadow">
                    <a href="@Url.Action("Designer1Case1","DesignerCases")">美式复古 三居室</a>
                </div>

            </div>

            <div class="anli_more"><a href="">查看更多案例</a></div>

        </div>
    </div>

    <!--材料配置-->

    <div class="pinpai_con">

        <div class="container-fluid">
            <h1>甄选名品 品牌特供 颜质具备</h1>
            <p>各类装饰品牌材料的全力支持，只为让您的装修省时，省心，省力，更省钱！</p>
        </div>
        <div class="pinpai_list">
            <div class="container-fluid">
                <ul>
                    <li><img src="~/Content/Images/content_img/hzpp_icon1.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon2.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon3.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon4.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon5.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon6.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon7.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon8.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon9.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon10.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>
