@model DecorationManagement.Models.UserDomainModel
@{
    Layout = null;
}
<div class="modal fade" id="myCreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New User
                </h4>
            </div>
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { role = "form", id = "myform" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fristName">名字:</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control required" })
                    </div>
                    <div class="form-group">
                        <label for="lastName">登录名:</label>
                        @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control required" })
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required email" })
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required" })
                    </div>
                    <div class="form-group">
                        <label for="registerTime">RegisterTime:</label>
                        @Html.TextBoxFor(m => m.RegisterTime, new { @class = "form-control required date", placeholder = "年/月/日" })
                    </div>
                    <div class="form-group">
                        <label for="lastLoginTime">LastLoginTime:</label>
                        @Html.TextBoxFor(m => m.LastLoginTime, new { @class = "form-control required date", placeholder = "年/月/日" })
                    </div>
                    @Html.HiddenFor(m => m.UserId)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="btnSave" class="btn btn-success">保存</button>
                </div>
                <input type="hidden" id="hdSelctedUserId" name="SelctedUserID" value="" />
            }
        </div>
    </div>
</div>
<div class="modal fade" id="myDeleleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    删除用户
                </h4>
            </div>
            <div class="modal-body">
                确定删除这个用户吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button id="btndelete" type="button" class="btn btn-success">
                    是
                </button>
            </div>
        </div>
    </div>
</div>
